<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bowerbird</title>
  <meta name="description" content="KangooBear">
  <meta name="author" content="KangooBear">

  <link rel="stylesheet" href="/css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    <div class="table logo">
      <div class="table-cell">
        <img src="logo" />
      </div>
    </div>
    <hr />
  </header>
  <ul>
    <li>
      <div class="left">
        <div class="name">Isaiah Turner</div>
        <div class="location">800 P St. NW, Washington, DC 20001
      </div>
    </li>
  </ul>
  <script src="/js/scripts.js"></script>
</body>
</html>